@import url("https://use.typekit.net/tdi5uax.css?s=12");
@tailwind base;
@tailwind components;
@tailwind utilities;
.button {
  @apply font-sans border border-light  shadow-lg   rounded-lg px-10 py-4;
}
.primary {
  @apply hover:bg-dark hover:border-dark hover:text-white bg-light text-black;
}
.secondary {
  @apply hover:bg-light border-light hover:text-black bg-white text-black;
}

.input {
  @apply border-b border-b-[rgb(198,198,198)] py-4 px-4 bg-transparent text-black;
}

.slick-arrow.slick-prev {
  @apply z-50 absolute text-black text-2xl;
}

#post h1 {
  @apply text-5xl;
  @apply mb-3;
  @apply font-bold;
}
#post h2 {
  @apply text-4xl;
  @apply mb-3;
  @apply font-bold;
}
#post h3 {
  @apply text-2xl;
  @apply mb-3;
  @apply font-bold;
}
#post h4 {
  @apply text-xl;
  @apply mb-3;
  @apply font-bold;
}
#post ul {
  @apply list-disc;
  @apply pl-8;
  @apply mb-3;
}
#post.post-en ol {
  @apply list-decimal;
  @apply pl-8;
  @apply mb-3;
}

#post.post-he ol {
  list-style:hebrew;
  @apply pr-8;
  @apply mb-3;
}

#post p {
  @apply mb-2;
}

#post a {
  @apply text-gold;
  @apply hover:underline;
}

#nav-icon3 span {
  @apply bg-white;
}

.dark #nav-icon3:not(.open) span {
  @apply bg-black;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  
  padding:10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 50%;
}

#nav-icon3 span:nth-child(4) {
  top: 99%;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

* {
  box-sizing: border-box;
}

.head {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.message {
  overflow: hidden;
  animation: openclose 5s ease-in-out infinite;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}